<!DOCTYPE html>
<html>
  <head>
    <style>
      .heading{
        text-align: center;
        font-size: 40px;
        margin: 5px;
      }
      .map-small {
        height:500px;
        width: 48%;
        margin-left: 15px;
        float: left;
      }
      .map-large {
        height:600px;
        width: 98%;
        margin-left: 15px;
        float: left;
      }
      select{
        margin:15px;
        float: left;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1 class="heading">Demand Supply & Surge</h1>
    <div>
      <h2 style="margin-left:15px;margin-bottom:10px;">Real Time</h2>
      <center><button onclick="refresh()">Refresh</button></center>
      <div id="map1" class="map-small"></div>
      <div id="map2" class="map-small"></div>
    </div>
    <div>
      <br><br><br>
      <h2 style="margin-left:15px;margin-bottom:10px;">Historical</h2>
      <select id="year">
        <option value="">2017</option>
      </select>
      <select id="month">
        <option selected="selected" value="11" >November</option>
        <option value="12">December</option>
      </select>
      <select id="day">
        <option value="1">1</option><option value="2">2</option><option value="3">3</option>
        <option value="4">4</option><option value="5">5</option><option value="6">6</option>
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option><option value="11">11</option><option value="12">12</option>
        <option value="13">13</option><option value="14">14</option><option value="15">15</option>
        <option value="16">16</option><option value="17">17</option><option value="18">18</option>
        <option value="19">19</option><option value="20">20</option><option value="21">21</option>
        <option value="22">22</option><option value="23">23</option><option selected="selected" value="24">24</option>
        <option value="25">25</option><option value="26">26</option><option value="27">27</option>
        <option value="28">28</option><option value="29">29</option><option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select id="hour">
        <option value="0">0</option>
        <option value="1">1</option><option value="2">2</option><option value="3">3</option>
        <option value="4">4</option><option value="5">5</option><option value="6">6</option>
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option><option value="11">11</option><option selected="selected" value="12">12</option>
        <option value="13">13</option><option value="14">14</option><option value="15">15</option>
        <option value="16">16</option><option value="17">17</option><option value="18">18</option>
        <option value="19">16</option><option value="20">20</option><option value="21">21</option>
        <option value="22">22</option><option value="23">23</option>
      </select>
      <button style="float:left;margin:15px" onclick="fetch()"> Go </button>
      <div id="map3" class="map-large"></div>
    </div>
    <script>
      var map1,map2,map3;
      var map1Data=[],map2Data=[],map3Data=[];
      function initMap() {
        map1 = new google.maps.Map(document.getElementById('map1'), {
          zoom: 13,
          center: {lat: 40.785091, lng: -73.968285},
          mapTypeId: 'terrain'
        });
        map2 = new google.maps.Map(document.getElementById('map2'), {
          zoom: 13,
          center: {lat: 40.785091, lng: -73.968285},
          mapTypeId: 'terrain'
        });
        map3 = new google.maps.Map(document.getElementById('map3'), {
          zoom: 13,
          center: {lat: 40.785091, lng: -73.968285},
          mapTypeId: 'terrain'
        });
        fetch();
      }

      function fetch(){
        clearMap(3);
        mnth = $("#month").val();
        day = $('#day').val();
        hr = $('#hour').val();
        hit_url = "/data/weather/date=2017-"+mnth+"-"+day+"-"+hr
        resp = $.ajax({
          type:"GET",
          url: hit_url,
          async: false
        }).responseText;

        data = JSON.parse(resp);

        for (var i=0;i<data.length;++i){
          var rad = data[i].demand-data[i].supply;
          var fColor = rad>0 ? '#FF0000' : '#00FF00';
          var cityCircle = new google.maps.Circle({
              strokeColor: '#000000',
              strokeOpacity: 0.2,
              strokeWeight: 1,
              fillColor: fColor,
              fillOpacity: 0.65,
              map: map3,
              center: {lat:data[i].lat,lng:data[i].lng},
              radius: Math.abs(rad) * 100
            });
            map3Data.push(cityCircle);
          }
      }

      function refresh(){
        clearMap(1);
        clearMap(2);
        resp = $.ajax({
          type:"GET",
          url: "/data/surge/realtime",
          async: false
        }).responseText;

        data = JSON.parse(resp);
        for (var i=0;i<data.length;++i){
          var rad1 = data[i].surge * 100;
          var rad2 = data[i].demand-data[i].supply;
          var fColor = rad2>0 ? '#FF0000' : '#00FF00';

          var cityCircle1 = new google.maps.Circle({
              strokeColor: '#000000',
              strokeOpacity: 0.2,
              strokeWeight: 1,
              fillColor: '#f5cc50',
              fillOpacity: 0.85,
              map: map1,
              center: {lat:data[i].lng,lng:data[i].lat},
              radius: rad1
            });
          var cityCircle2 = new google.maps.Circle({
              strokeColor: '#000000',
              strokeOpacity: 0.2,
              strokeWeight: 1,
              fillColor: fColor,
              fillOpacity: 0.65,
              map: map2,
              center: {lat:data[i].lng,lng:data[i].lat},
              radius: Math.abs(rad2) * 100
            });
          map1Data.push(cityCircle1);
          map2Data.push(cityCircle2);
          }
      }

      function clearMap(mapNum) {
        if (mapNum==1) {
          for(var i=0;i<map1Data.length;++i) map1Data[i].setMap(null);
          map1Data = []
        } else if (mapNum==2){
          for(var i=0;i<map2Data.length;++i) map2Data[i].setMap(null);
          map2Data = []
        } else if (mapNum==3){
          for(var i=0;i<map3Data.length;++i) map3Data[i].setMap(null);
          map3Data = []
        }
      }
      setInterval(refresh, 60*1000);
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN4_ZVNmxSYFexf86NgQxild6LOR1h5tE&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
