<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>visualization</title>
    <style>
      .heading{
        text-align: center;
        font-size: 40px;
        margin: 5px;
      }
      .map-small {
        height:500px;
        width: 48%;
        margin-left: 15px;
        float: left;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: '#aa0000';
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <h1 class="heading">Demand Supply Vs Weather</h1>
    <br>
    <div style="float:left;width:100%;margin-left:40%;margin-bottom:40px;">
      <select id="year">
        <option value="">2017</option>
      </select>
      <select id="month">
        <option selected="selected" value="11" >November</option>
        <option value="12">December</option>
      </select>
      <select id="day">
        <option value="1">1</option><option value="2">2</option><option value="3">3</option>
        <option value="4">4</option><option value="5">5</option><option value="6">6</option>
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option><option value="11">11</option><option value="12">12</option>
        <option value="13">13</option><option value="14">14</option><option value="15">15</option>
        <option value="16">16</option><option value="17">17</option><option value="18">18</option>
        <option value="19">19</option><option value="20">20</option><option value="21">21</option>
        <option value="22">22</option><option value="23">23</option><option selected="selected" value="24">24</option>
        <option value="25">25</option><option value="26">26</option><option value="27">27</option>
        <option value="28">28</option><option value="29">29</option><option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select id="hour">
        <option value="0">0</option>
        <option value="1">1</option><option value="2">2</option><option value="3">3</option>
        <option value="4">4</option><option value="5">5</option><option value="6">6</option>
        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
        <option value="10">10</option><option value="11">11</option><option selected="selected" value="12">12</option>
        <option value="13">13</option><option value="14">14</option><option value="15">15</option>
        <option value="16">16</option><option value="17">17</option><option value="18">18</option>
        <option value="19">16</option><option value="20">20</option><option value="21">21</option>
        <option value="22">22</option><option value="23">23</option>
      </select>
      <button style="margin:15px" onclick="fetch()"> Go </button>
    </div>
    <br>
    <div id="chart_div" class="map-small"></div>
    <div id="chart_div2" class="map-small"></div>

    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.load('current', {packages: ['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var button = document.getElementById('change-chart');
          var chartDiv = document.getElementById('chart_div');
          var chartDiv2 = document.getElementById('chart_div2');

          mnth = $("#month").val();
          day = $('#day').val();
          hr = $('#hour').val();
          hit_url = "/data/weather/date=2017-"+mnth+"-"+day+"-"+hr
          // resp = $.ajax({
          //   type:"GET",
          //   url: hit_url,
          //   async: false
          // }).responseText;

          var data = new google.visualization.DataTable();
          data.addColumn('datetime', 'day');
          data.addColumn('number', "Temperature");
          data.addColumn('number', "Demand");
          // data = JSON.parse(resp);

          data.addRows([
            [new Date(2014, 0,17,2,30,0),  -.5,  5],
            [new Date(2014, 0,17,3,40,0),   .4,  8.7],
          ]);

      var materialOptions = {
        chart: {
          title: 'Average Temperatures and Daylight in Iceland Throughout the Year'
        },
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: 'Temps'},
          1: {axis: 'Daylight'}
        },
        vAxes: {
          // Adds labels to each axis; they don't have to match the axis names.
          Temps: {
            label: 'Temps (Celsius)',
            gridlines:{
              color:'#110000'
            }
          },
          Daylight: {
            label: 'Daylight',
            gridlines:{
              color:'#FFF'
            }
          }

        }
      };

      var materialChart = new google.charts.Line(chartDiv);
      var materialChart2 = new google.charts.Line(chartDiv2);
      materialChart.draw(data, materialOptions);
      materialChart2.draw(data, materialOptions);
    }
    </script>
  </body>
</html>
